.portfolio__list {
	margin-top: 12px;
	margin-left: -20px;
	font-size: 0;
}

.portfolio__list * {
	font-size: 18px;
}

.portfolio__item {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  width: 220px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 20px 20px;
}

.portfolio__link {
	display: block;
}

.portfolio__description {
	padding: 15px 15px 15px 17px;
}

.portfolio__photo {
	display: block;
	max-width: 100%;
}


.portfolio__title {
	font-size: 21px;
	font-family: FiraSansRegular;
	color: #33c1e3;
}

.portfolio__name {
	font-size: 14px;
	font-family: FiraSansLight;
	color: #414141;
	margin-bottom: 5px;
}

.portfolio__type {
	color: #aeaeae;
	font-size: 18px;
	font-family: FiraSansRegular;

}

.portfolio__type-icon, .portfolio__type-title {
	display: inline-block;
	vertical-align: middle;
}

.portfolio__type-title {
	max-width: 150px;
	font-size: 14px;
}

.portfolio__link:hover .portfolio__title {
	color: #e85f61;
}


