.footer {
    background-color: #414141;
    height: 50px;
    color: #9c9c9c;
    font-size: 14px;
    margin-top: -50px;
}

.footer__left {
    float: left;
    width: 50%;
    padding-top: 18px;
}

.copyright {
    font-size: 14px;
    color: #878787;
}

.footer__right {
    float: left;
    width: 50%;
    text-align: right;
    padding-top: 9px;
}

.socials {
    &__item {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
    }
    &__link {
        display: block;
        &:hover {
            .socials__icon {
                fill: #33c1e3;
            }
        }
    }
    &__icon {
        width: 30px;
        height: 30px;
        fill: #fff;
        transition: 0.5s;
    }
}